/* css styles */

h2 {
  color: #cc2836;   /* orange */
}

h3 {
  position: relative;
  padding-bottom: 0.3rem;
  margin-bottom: 1.2rem;
  margin-top: 2rem;
}
h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;            /* lebih pendek dari H2 */
  height: 3px;
  background: #ac500e;
  border-radius: 2px;
}

/* H4 – garis paling pendek */
h4 {
  position: relative;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  margin-top: 1.8rem;
  color: #e0e0e0;
}
h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;            /* paling pendek */
  height: 2px;
  background: #ac500e99; /* sedikit transparan biar beda level */
  border-radius: 2px;
}

/* ================== INLINE CODE (orange) ================== */
:not(pre) > code {
  background: #1c490750 !important;     
  color: #74c92f !important;
  padding: 0.18em 0.42em !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  font-size: 90% !important;
  border: 1px solid #1b470650 !important;
}

pre code,
pre > code,
.sourceCode code {
  background: transparent !important;
  color: inherit !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  font-weight: normal !important;
  font-size: inherit !important;
}
